### Create table product(userid, pid, pname, prate, pqty) and insert 5 record from python. Create trigger to check product rate and qty is not 0. Write product table data into csv file using writer object.

In [1]:
import sqlite3 as sq

In [2]:
conn=sq.connect("D:\\23bca307\\sqlite3\\database\\product.db")

In [3]:
cur=conn.cursor()

In [8]:
cur.execute('''create table product2(userid integer,pid integer,pname text,prate real,pqty integer)''')

In [9]:
cur.execute("insert into product1 values(1,101,'product 1',100.0,5),(2,102,'product 2',200.0,10),(3,103,'product 3',50.0,20),(4,104,'product 4',150.0,15),(5,105,'product 5',250.0,25)")

In [10]:
cur.execute('select*from product1')

In [11]:
cur.fetchall()

[(1, 101, 'product 1', 100.0, 5),
 (2, 102, 'product 2', 200.0, 10),
 (3, 103, 'product 3', 50.0, 20),
 (4, 104, 'product 4', 150.0, 15),
 (5, 105, 'product 5', 250.0, 25),
 (1, 101, 'product 1', 100.0, 5),
 (2, 102, 'product 2', 200.0, 10),
 (3, 103, 'product 3', 50.0, 20),
 (4, 104, 'product 4', 150.0, 15),
 (5, 105, 'product 5', 250.0, 25)]

## create trigger to check product rate and quantity

In [12]:

cur.execute('''
create trigger if not exists product_rate_qty
before insert on product2
for each row
begin
select
case
when new.prate = 0 THEN
raise (abort, 'Product rate cannot be zero.')
when new.pqty = 0 THEN
raise (abort, 'Product quantity cannot be zero.')
end;
end;
''')

## write product table data to csv file

In [21]:
import csv

In [22]:
with open('product2.csv','w',newline='')as file:
    writer=csv.writer(file)
    writer.writerow(['userid','pid','pname','prate','pqty'])

In [24]:
writer.writerows(cur.execute('select*from product2').fetchall())

In [25]:
conn.close()